/* minimal reset CSS */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styl użytkownika */
body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

.be-blue:hover {
  fill: #0070cc;
  color: #0070cc;
}

.top-banner {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.5em;
}

.nav {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  top: -1px;
}

.top-logo {
  margin-right: 0.5em;
}
/* top navigation */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main-nav-ul {
  display: flex;
  align-items: center;
  padding: 0 5% 0;
}

.main-li {
  display: flex;
}

.chevi {
  display: inline-block;
}

.main-nav-li {
  font-weight: 600;
  color: #757575;
  font-size: 0.8rem;
  padding: 5px;
}

.log-nav {
  padding-right: 2%;
}
.log-nav-ul {
  display: flex;
  align-items: center;
}

.log-nav-li {
  padding: 0 5px 0;
  white-space: nowrap;
}

.log-nav-search {
  margin-left: 20px;
}

/* main navigation */
.main-banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0 3%;
}

.logo {
  display: flex;
  align-items: center;
}

.psn-logo {
  fill: #0070cc;
}

.sub-nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-nav-li {
  font-weight: 600;
  color: #757575;
  font-size: 1rem;
  padding: 25px 15px 25px;
  letter-spacing: 0;
}

.sub-nav-li:hover {
  border-bottom: 3px solid #0070cc;

}

.sub-nav-li:focus {
  box-shadow: inset 0px 0px 10px -4px rgba(0, 112, 204, 1);
}

.wrapper {
  margin-top: 200px;
}

.wrapper-banner {
  background-image: url(./src/header-bg.webp);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 34px 34px 10px rgba(210, 210, 210, 1);
  margin: 0 0 80px 0;
}

.banner-promo {
  width: 50%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 10%;
}

.banner-low {
  width: 100%;
  height: 7em;
  padding: 0 10% 20px;
  background: rgba(237, 237, 237, 0.68);
  background: -webkit-linear-gradient(
    top,
    rgba(237, 237, 237, 0.68) 0%,
    rgba(246, 246, 246, 0.99) 53%,
    rgba(246, 246, 246, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-describe {
  font-size: 2.5rem;
  font-weight: 300;
  white-space: nowrap;
}

.btn {
  font-weight: 600;
  color: #fff;
  border-radius: 50px;
  letter-spacing: 2px;
}
.btn:focus {
  outline: none;
}

.sign-btn {
  border: 2px solid #fff;
  background-color: #363636;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
}
.sign-btn:hover {
  background-color: #606060;
  box-shadow: 0px 0px 0px 2px #606060;
}

.banner-btn {
  background-color: #0070cc;
  border: 2px solid #fff;
  padding: 10px 30px;
  white-space: nowrap;
}
.banner-btn:hover {
  box-shadow: 0px 0px 0px 2px #0070cc;
}

.main-content-name {
  font-size: 2.2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.main-article {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.article-game {
  width: 30%;
  min-width: 350px;
}

@media (max-width: 900px) {
  .banner-low {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 10em;
  }

  .banner-low > p {
    padding: 10px 20px;
  }


  .main-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3%;
    flex-wrap: wrap;
  }

}

@media (max-width: 650px) {
  .main-nav-li {
    display: none;
  }

  .sub-nav-ul {
    display: none;
  }

  
  .wrapper-banner {
    width: 100%;
    height: 50vh;
  }

  .banner-promo {
    width: 50%;
    max-width: 200px;
    position: absolute;
    top: 0;
    left: 5%;
  }

}