/* Styl użytkownika */
body {
  max-width: 1366px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 98%);
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
  margin-bottom: 25px;
}
.nav-button img {
  width: 22px;
  height: 22px;
}

.main-logo div {
  margin: 0;
}

.main-logo {
  height: 100%;
  width: 40%;
}

.nav-bar ul {
  margin: 0 0 0 30px;
  padding: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav-bar li {
  margin: 5px;
}

header {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.picture{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.posts-selector {
  display: flex;
  justify-content: center;
}
.article {
  width: 200px;
  height: 200px;
}
.article-grid {
  display: flex;
  justify-content: center;
  max-width: 700px;
  flex-wrap: wrap;
}
